/* Enabled dark mode preview inside Canvas blocks */
.docs-story:first-child {
  background-color: var(--color-background);
}

[data-spark-component='tabs'] table.docblock-argstable {
  margin-top: 0;
  margin-bottom: 0;
}

li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li) kbd {
  color: var(--color-on-background);
}
