/* Enabled dark mode preview inside Canvas blocks */
.docs-story:first-child {
    @apply !bg-background;
}

[data-spark-component="tabs"] table.docblock-argstable {
    margin-top: 0;
    margin-bottom: 0;
}

li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li) kbd {
  color: rgb(var(--colors-on-background));
}

[data-theme='light'] {
  --colors-basic: 9 65 113;
  --colors-on-basic: 255 255 255;
  --colors-basic-hovered: 12 82 145;
  --colors-basic-container: 230 242 253;
  --colors-on-basic-container: 21 34 51;
  --colors-basic-container-hovered: 244 249 254;
  --colors-accent: 133 38 217;
  --colors-on-accent: 255 255 255;
  --colors-accent-hovered: 159 71 235;
  --colors-accent-container: 233 214 250;
  --colors-on-accent-container: 54 37 85;
  --colors-accent-container-hovered: 245 237 253;
  --colors-accent-variant: 80 23 130;
  --colors-on-accent-variant: 255 255 255;
  --colors-accent-variant-hovered: 107 31 173;
  --colors-main: 236 90 19;
  --colors-on-main: 255 255 255;
  --colors-main-hovered: 240 123 66;
  --colors-main-container: 255 233 222;
  --colors-on-main-container: 137 56 15;
  --colors-main-container-hovered: 255 242 235;
  --colors-main-variant: 184 74 20;
  --colors-on-main-variant: 255 255 255;
  --colors-main-variant-hovered: 236 90 19;
  --colors-support: 9 65 113;
  --colors-on-support: 255 255 255;
  --colors-support-hovered: 12 82 145;
  --colors-support-container: 230 242 253;
  --colors-on-support-container: 21 34 51;
  --colors-support-container-hovered: 244 249 254;
  --colors-support-variant: 12 82 145;
  --colors-on-support-variant: 255 255 255;
  --colors-support-variant-hovered: 15 105 185;
  --colors-success: 62 122 64;
  --colors-on-success: 255 255 255;
  --colors-success-hovered: 78 152 80;
  --colors-success-container: 220 234 220;
  --colors-on-success-container: 47 91 48;
  --colors-success-container-hovered: 237 245 238;
  --colors-alert: 255 170 0;
  --colors-on-alert: 32 39 48;
  --colors-alert-hovered: 255 187 51;
  --colors-alert-container: 255 238 204;
  --colors-on-alert-container: 153 102 0;
  --colors-alert-container-hovered: 255 246 229;
  --colors-error: 217 52 38;
  --colors-on-error: 255 255 255;
  --colors-error-hovered: 224 93 82;
  --colors-error-container: 247 215 212;
  --colors-on-error-container: 130 32 23;
  --colors-error-container-hovered: 251 236 235;
  --colors-info: 19 136 236;
  --colors-on-info: 255 255 255;
  --colors-info-hovered: 105 178 243;
  --colors-info-container: 194 224 250;
  --colors-on-info-container: 12 82 145;
  --colors-info-container-hovered: 230 242 253;
  --colors-neutral: 79 96 118;
  --colors-on-neutral: 255 255 255;
  --colors-neutral-hovered: 108 129 157;
  --colors-neutral-container: 240 242 245;
  --colors-on-neutral-container: 58 71 87;
  --colors-neutral-container-hovered: 246 248 249;
  --colors-background: 255 255 255;
  --colors-on-background: 21 34 51;
  --colors-background-variant: 244 249 254;
  --colors-on-background-variant: 21 34 51;
  --colors-surface: 255 255 255;
  --colors-on-surface: 21 34 51;
  --colors-surface-hovered: 246 248 249;
  --colors-surface-inverse: 43 52 65;
  --colors-on-surface-inverse: 255 255 255;
  --colors-surface-inverse-hovered: 58 71 87;
  --colors-outline: 172 184 199;
  --colors-outline-high: 32 39 48;
  --colors-overlay: 32 39 48;
  --colors-on-overlay: 255 255 255;
}
