[data-theme='dark'] {
  --color-basic: #c2e0fa;
  --color-on-basic: #152233;
  --color-basic-hovered: #9fcef7;
  --color-basic-container: #094171;
  --color-on-basic-container: #f4f9fe;
  --color-basic-container-hovered: #152233;
  --color-accent: #cfa3f5;
  --color-on-accent: #1b052e;
  --color-accent-hovered: #ac7ddd;
  --color-accent-container: #501782;
  --color-on-accent-container: #f5edfd;
  --color-accent-container-hovered: #360f57;
  --color-accent-variant: #b775f0;
  --color-on-accent-variant: #1b052e;
  --color-accent-variant-hovered: #b775f0;
  --color-main: #f07b42;
  --color-on-main: #2f1305;
  --color-main-hovered: #ec5a13;
  --color-main-container: #89380f;
  --color-on-main-container: #fff2eb;
  --color-main-container-hovered: #5c250a;
  --color-main-variant: #f49d71;
  --color-on-main-variant: #2f1305;
  --color-main-variant-hovered: #f07b42;
  --color-support: #c2e0fa;
  --color-on-support: #152233;
  --color-support-hovered: #9fcef7;
  --color-support-container: #094171;
  --color-on-support-container: #f4f9fe;
  --color-support-container-hovered: #152233;
  --color-support-variant: #e6f2fd;
  --color-on-support-variant: #152233;
  --color-support-variant-hovered: #c2e0fa;
  --color-success: #8ecdae;
  --color-on-success: #0c291b;
  --color-success-hovered: #64bc90;
  --color-success-container: #1d6340;
  --color-on-success-container: #f5fbf8;
  --color-success-container-hovered: #14422b;
  --color-alert: #ffcc66;
  --color-on-alert: #332200;
  --color-alert-hovered: #ffbb33;
  --color-alert-container: #664400;
  --color-on-alert-container: #fff6e5;
  --color-alert-container-hovered: #332200;
  --color-error: #e8867d;
  --color-on-error: #2b0b08;
  --color-error-hovered: #e05d52;
  --color-error-container: #822017;
  --color-on-error-container: #fbeceb;
  --color-error-container-hovered: #57150f;
  --color-info: #9fcef7;
  --color-on-info: #152233;
  --color-info-hovered: #69b2f3;
  --color-info-container: #0c5291;
  --color-on-info-container: #f4f9fe;
  --color-info-container-hovered: #094171;
  --color-neutral: #d0d7df;
  --color-on-neutral: #202730;
  --color-neutral-hovered: #acb8c7;
  --color-neutral-container: #3a4757;
  --color-on-neutral-container: #f6f8f9;
  --color-neutral-container-hovered: #2b3441;
  --color-background: #202730;
  --color-on-background: #f6f8f9;
  --color-background-variant: #13171d;
  --color-on-background-variant: #f6f8f9;
  --color-surface: #202730;
  --color-on-surface: #f6f8f9;
  --color-surface-hovered: #000000;
  --color-surface-inverse: #f6f8f9;
  --color-on-surface-inverse: #2b3441;
  --color-surface-inverse-hovered: #f0f2f5;
  --color-outline: #6c819d;
  --color-outline-high: #f0f2f5;
  --color-overlay: #2b3441;
  --color-on-overlay: #f6f8f9;
  --color-shadow: rgba(0 0 0 / 0.5);
}
