@theme {
  --animate-fade-in: fade-in 0.25s cubic-bezier(0.2, 0, 0, 1);
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.25s cubic-bezier(0.2, 0, 0, 1);
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-slide-in-top: slide-in-top 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-in-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-slide-in-right: slide-in-right 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-slide-in-bottom: slide-in-bottom 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-slide-in-left: slide-in-left 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-slide-out-top: slide-out-top 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-out-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  --animate-slide-out-right: slide-out-right 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  --animate-slide-out-bottom: slide-out-bottom 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-out-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  --animate-slide-out-left: slide-out-left 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  --animate-standalone-collapse-in: collapse-in 0.25s cubic-bezier(0.2, 0, 0, 1);
  @keyframes collapse-in {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: var(--height);
    }
  }

  --animate-standalone-collapse-out: collapse-out 0.25s cubic-bezier(0.2, 0, 0, 1);
  @keyframes collapse-out {
    0% {
      opacity: 1;
      height: var(--height);
    }
    100% {
      opacity: 0;
      height: 0;
    }
  }

  --animate-standalone-indeterminate-bar: indeterminate-bar 1s ease-out infinite normal none running;
  @keyframes indeterminate-bar {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      left: 50%;
      width: 50%;
    }
    75% {
      left: 100%;
      width: 0;
    }
    100% {
      left: 0;
      width: 0;
    }
  }

  --animate-standalone-shimmer: shimmer 2s ease-in infinite;
  @keyframes shimmer {
    100% {
      mask-position: -200% 0%;
    }
  }

  --animate-standalone-swipe-out-left: swipe-out-left 0.1s ease-out;
  @keyframes swipe-out-left {
    0% {
      transform: translateX(var(--swipe-position-x));
    }
    100% {
      transform: translateX(-100vw);
    }
  }

  --animate-standalone-swipe-out-right: swipe-out-right 0.1s ease-out;
  @keyframes swipe-out-right {
    0% {
      transform: translateX(var(--swipe-position-x));
    }
    100% {
      transform: translateX(100vw);
    }
  }
}
