@import './keyframes.css';
@import './custom-variants.css';
@import './utilities.css';
@import './dark-theme.css';

@theme {
  --breakpoint-*: initial;
  --color-*: initial;
  --container-*: initial;
  --font-*: initial;
  --font-weight-*: initial;
  --radius-*: initial;
  --shadow-*: initial;
  --spacing-*: initial;
  --text-*: initial;
  --z-index-*: initial;

  --border-width-0: 0px;
  --border-width-sm: 1px;
  --border-width-md: 2px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-sans: 'Nunito Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --color-blue: #00f;
  --color-basic: #094171;
  --color-on-basic: #ffffff;
  --color-basic-hovered: #0c5291;
  --color-basic-container: #e6f2fd;
  --color-on-basic-container: #152233;
  --color-basic-container-hovered: #f4f9fe;
  --color-accent: #8526d9;
  --color-on-accent: #ffffff;
  --color-accent-hovered: #9f47eb;
  --color-accent-container: #e9d6fa;
  --color-on-accent-container: #362555;
  --color-accent-container-hovered: #f5edfd;
  --color-accent-variant: #501782;
  --color-on-accent-variant: #ffffff;
  --color-accent-variant-hovered: #6b1fad;
  --color-main: #ec5a13;
  --color-on-main: #ffffff;
  --color-main-hovered: #f07b42;
  --color-main-container: #ffe9de;
  --color-on-main-container: #89380f;
  --color-main-container-hovered: #fff2eb;
  --color-main-variant: #b84a14;
  --color-on-main-variant: #ffffff;
  --color-main-variant-hovered: #ec5a13;
  --color-support: #094171;
  --color-on-support: #ffffff;
  --color-support-hovered: #0c5291;
  --color-support-container: #e6f2fd;
  --color-on-support-container: #152233;
  --color-support-container-hovered: #f4f9fe;
  --color-support-variant: #0c5291;
  --color-on-support-variant: #ffffff;
  --color-support-variant-hovered: #0f69b9;
  --color-success: #1d6340;
  --color-on-success: #ffffff;
  --color-success-hovered: #278456;
  --color-success-container: #e0f2e9;
  --color-on-success-container: #1d6340;
  --color-success-container-hovered: #f5fbf8;
  --color-alert: #ffaa00;
  --color-on-alert: #202730;
  --color-alert-hovered: #ffbb33;
  --color-alert-container: #ffeecc;
  --color-on-alert-container: #664400;
  --color-alert-container-hovered: #fff6e5;
  --color-error: #ad291f;
  --color-on-error: #ffffff;
  --color-error-hovered: #d93426;
  --color-error-container: #f7d7d4;
  --color-on-error-container: #822017;
  --color-error-container-hovered: #fbeceb;
  --color-info: #0c5291;
  --color-on-info: #ffffff;
  --color-info-hovered: #0f69b9;
  --color-info-container: #c2e0fa;
  --color-on-info-container: #0c5291;
  --color-info-container-hovered: #e6f2fd;
  --color-neutral: #3a4757;
  --color-on-neutral: #ffffff;
  --color-neutral-hovered: #4f6076;
  --color-neutral-container: #f0f2f5;
  --color-on-neutral-container: #3a4757;
  --color-neutral-container-hovered: #f6f8f9;
  --color-background: #ffffff;
  --color-on-background: #152233;
  --color-background-variant: #f4f9fe;
  --color-on-background-variant: #152233;
  --color-surface: #ffffff;
  --color-on-surface: #152233;
  --color-surface-hovered: #f6f8f9;
  --color-surface-inverse: #2b3441;
  --color-on-surface-inverse: #ffffff;
  --color-surface-inverse-hovered: #3a4757;
  --color-outline: #acb8c7;
  --color-outline-high: #202730;
  --color-overlay: #202730;
  --color-on-overlay: #ffffff;
  --color-shadow: rgba(108 129 157 / 0.5);

  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-accelerate: cubic-bezier(0.3, 0, 0.8, 1.15);
  --ease-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-standard-back: cubic-bezier(0.3, -0.05, 0.7, -0.5);
  --ease-accelerate-back: cubic-bezier(0.45, 1.45, 0.8, 1);
  --ease-decelerate-back: cubic-bezier(0.42, 0, 0.58, 1);

  --opacity-0: 0;
  --opacity-none: 100%;
  --opacity-dim-1: 72%;
  --opacity-dim-2: 56%;
  --opacity-dim-3: 40%;
  --opacity-dim-4: 16%;
  --opacity-dim-5: 8%;

  --radius-0: 0px;
  --radius-sm: calc(0.25rem * var(--spacing-factor));
  --radius-md: calc(0.5rem * var(--spacing-factor));
  --radius-lg: calc(1rem * var(--spacing-factor));
  --radius-xl: calc(1.5rem * var(--spacing-factor));
  --radius-full: 9999px;

  --shadow-xs: 0 1px 2px 0 var(--color-shadow);
  --shadow-sm: 0 4px 8px 0 var(--color-shadow);
  --shadow-md: 0 6px 12px 0 var(--color-shadow);
  --shadow-lg: 0 8px 16px 0 var(--color-shadow);
  --shadow-xl: 0 12px 24px 0 var(--color-shadow);
  --shadow-none: none;

  --spacing-scale: 16; /* for a 16px base font size */
  --spacing-factor: calc(16 / var(--spacing-scale));

  --spacing-0: 0;
  --spacing-sm: calc(0.25rem * var(--spacing-factor));
  --spacing-md: calc(0.5rem * var(--spacing-factor));
  --spacing-lg: calc(1rem * var(--spacing-factor));
  --spacing-xl: calc(1.5rem * var(--spacing-factor));
  --spacing-2xl: calc(2rem * var(--spacing-factor));
  --spacing-3xl: calc(2.5rem * var(--spacing-factor));

  --spacing-sz-0: 0rem;
  --spacing-sz-1: calc(0.0625rem * var(--spacing-factor));
  --spacing-sz-2: calc(0.125rem * var(--spacing-factor));
  --spacing-sz-4: calc(0.25rem * var(--spacing-factor));
  --spacing-sz-6: calc(0.375rem * var(--spacing-factor));
  --spacing-sz-8: calc(0.5rem * var(--spacing-factor));
  --spacing-sz-10: calc(0.625rem * var(--spacing-factor));
  --spacing-sz-12: calc(0.75rem * var(--spacing-factor));
  --spacing-sz-14: calc(0.875rem * var(--spacing-factor));
  --spacing-sz-16: calc(1rem * var(--spacing-factor));
  --spacing-sz-20: calc(1.25rem * var(--spacing-factor));
  --spacing-sz-24: calc(1.5rem * var(--spacing-factor));
  --spacing-sz-28: calc(1.75rem * var(--spacing-factor));
  --spacing-sz-32: calc(2rem * var(--spacing-factor));
  --spacing-sz-36: calc(2.25rem * var(--spacing-factor));
  --spacing-sz-40: calc(2.5rem * var(--spacing-factor));
  --spacing-sz-44: calc(2.75rem * var(--spacing-factor));
  --spacing-sz-48: calc(3rem * var(--spacing-factor));
  --spacing-sz-56: calc(3.5rem * var(--spacing-factor));
  --spacing-sz-64: calc(4rem * var(--spacing-factor));
  --spacing-sz-80: calc(5rem * var(--spacing-factor));
  --spacing-sz-96: calc(6rem * var(--spacing-factor));
  --spacing-sz-112: calc(7rem * var(--spacing-factor));
  --spacing-sz-128: calc(8rem * var(--spacing-factor));
  --spacing-sz-144: calc(9rem * var(--spacing-factor));
  --spacing-sz-160: calc(10rem * var(--spacing-factor));
  --spacing-sz-176: calc(11rem * var(--spacing-factor));
  --spacing-sz-192: calc(12rem * var(--spacing-factor));
  --spacing-sz-208: calc(13rem * var(--spacing-factor));
  --spacing-sz-224: calc(14rem * var(--spacing-factor));
  --spacing-sz-240: calc(15rem * var(--spacing-factor));
  --spacing-sz-256: calc(16rem * var(--spacing-factor));
  --spacing-sz-288: calc(18rem * var(--spacing-factor));
  --spacing-sz-320: calc(20rem * var(--spacing-factor));
  --spacing-sz-384: calc(24rem * var(--spacing-factor));
  --spacing-sz-400: calc(25rem * var(--spacing-factor));
  --spacing-sz-416: calc(26rem * var(--spacing-factor));
  --spacing-sz-432: calc(27rem * var(--spacing-factor));
  --spacing-sz-448: calc(28rem * var(--spacing-factor));
  --spacing-sz-464: calc(29rem * var(--spacing-factor));
  --spacing-sz-480: calc(30rem * var(--spacing-factor));
  --spacing-sz-512: calc(32rem * var(--spacing-factor));
  --spacing-sz-544: calc(34rem * var(--spacing-factor));
  --spacing-sz-576: calc(36rem * var(--spacing-factor));
  --spacing-sz-608: calc(39rem * var(--spacing-factor));
  --spacing-sz-640: calc(40rem * var(--spacing-factor));
  --spacing-sz-672: calc(42rem * var(--spacing-factor));
  --spacing-sz-704: calc(44rem * var(--spacing-factor));
  --spacing-sz-736: calc(46rem * var(--spacing-factor));
  --spacing-sz-768: calc(48rem * var(--spacing-factor));
  --spacing-sz-800: calc(50rem * var(--spacing-factor));
  --spacing-sz-832: calc(52rem * var(--spacing-factor));
  --spacing-sz-864: calc(54rem * var(--spacing-factor));

  --z-index-hide: -1;
  --z-index-base: 0;
  --z-index-raised: 1;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1100;
  --z-index-overlay: 1300;
  --z-index-modal: 1400;
  --z-index-popover: 1500;
  --z-index-skip-link: 1600;
  --z-index-toast: 1700;
  --z-index-tooltip: 1800;
}
