.wrapper {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  background: #333;
}

.label {
  text-align: center;  
  color: white !important;
  margin: 0;
  font-weight: 700;
  font-size: 1.4rem;
}  

.actions {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
}
  
.action {
  color: white;
  font-size: 1.4rem;
}
